body {
    font-size: 14px !important;
}

select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

/* Hide arrows/spinners on number inputs for all browsers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.icons {
  font-size: 26px;
  line-height: 1;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.capture-status-table td:nth-child(1) {
  max-width: 0;
  white-space: nowrap;
}

.scrollable-cell {
  white-space: nowrap;
  overflow-x: auto;
  max-width: 100%;
}

.input-label-fixed {
  width: 95px;
  justify-content: center;
  white-space: nowrap;
}

.fixed-input-label {
  width: 81px;
  justify-content: center;
  white-space: nowrap;
}

.btn-group.equal-toggles > .btn {
  flex: 1 1 0 !important;
}