body {
  padding-top: 60px;
}

div.page-wrapper{
  display: flex;
  justify-content:  space-between;
}

div.sidebar{
  width: 15%;
  padding-right: 0.5%;
}

div.content-container {
  width: 98%;
  padding-left: 0.5%;
}

.select-container {
  width: 50%;
  text-align: left;
}

.toggle-container {
  width: 50%;
  text-align: right;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 24px;
}

.plot-container {
  height: 300px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.panel-body {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.panel-heading-nav {
  padding: 10px;
}

#main-body {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.table-striped {
  padding-bottom: 0px;
}

.table {
  margin-bottom: 0px;
}

.col-sm-12 {
  padding-bottom: 0px;
}

#pico-6-div{
  padding-left: 15px;
  padding-right: 15px;
}

#chan-6-div{
  padding-left: 15px;
  padding-right: 15px
}

#custom-navbar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#custom-navbar-brand {
  margin-right: 15px;
}

#separator {
  height: 24px;  /* Adjust as needed */
  width: 1px;
  background-color: #9d9d9d;  /* Adjust color as needed */
  margin-left: 0px;
  margin-right: 0px;
  align-self: center;  /* Center align in flexbox layout */
}

#custom-item-label,
#custom-item1,
#custom-item2,
#custom-item3,
#custom-item4 {
  margin-left: 15px;
  color: #9d9d9d;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

#custom-form, #custom-fieldset {
  margin: 0;
  padding: 0;
}

.custom-checkbox {
  margin: 0;
  padding: 0;
}

.custom-label {
  margin: 0;
  padding: 0;
}

#custom-div-a, 
#custom-div-b, 
#custom-div-c, 
#custom-div-d {
  display: inline-block;
  margin-right: 10px;
}

/* Custom grid-row style */
.grid-row {
  display: grid;
  grid-template-columns: 700px 1fr;
  gap: 15px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.flex-width {
  max-width: 100%;
}
.container-fluid {
  max-width: 100%;
}

/* Media query for screen size less than 1300px */
@media (max-width: 1400px) {
  .grid-row {
    grid-template-columns: 1fr;  /* Single column */
  }
  .flex-width {
    padding-left: 0;
  }
}

/* Media query for screen size more than 1300px */
@media (min-width: 1401px) {
  .grid-row {
    grid-template-columns: 700px 1fr;  /* Back to two columns */
  }
  .flex-width {
    padding-left: 15px;
  }
}
