body {
  padding-top: 75px;
}

div.page-wrapper{
  display: flex;
  justify-content:  space-between;
}

div.sidebar{
  width: 15%;
  padding-right: 2%;
}

div.content-container {
  width: 85%;
  padding-right: 1%;
}

.select-container {
  width: 50%;
  text-align: left;
}

.toggle-container {
  width: 50%;
  text-align: right;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 24px;
}

.plot-container {
  width: 100%;
  height: 300px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

/* Toggle slider */


.switch input
{
display: none;
}

.switch 
{
display: inline-block;
width: 40px; /*=w*/
height: 20px; /*=h*/
margin: 4px;
transform: translateY(50%);
position: relative;
}

.switch-label
{
padding-bottom: 15px;
}

.slider
{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
border-radius: 20px;
box-shadow: 0 0 0 2px #777, 0 0 4px #777;
cursor: pointer;
border: 4px solid transparent;
overflow: hidden;
transition: 0.2s;
}

.slider:before
{
position: absolute;
content: "";
width: 100%;
height: 100%;
background-color: #777;
border-radius: 20px;
transform: translateX(-20px); /*translateX(-(w-h))*/
transition: 0.2s;
}

input:checked + .slider:before
{
transform: translateX(20px); /*translateX(w-h)*/
background-color:  limegreen;
}

input:disabled + .slider:before
{
transform: translateX(20px); /*translateX(w-h)*/
background-color:  #777
}




