.bg-green {
  background-color: #dff0d8 !important;
  --bs-table-bg: transparent;
}

.bg-red {
  background-color: #f2dede !important;
  --bs-table-bg: transparent;
}

.bg-grey {
  background-color: #DFDFDF !important;
  --bs-table-bg: transparent;
}

.bg-white {
  background-color: #fff !important;
  --bs-table-bg: transparent;
}

.form {
  display: block;
}

select.form-control {
  appearance: auto;
  -webkit-appearance: auto;
  display: block;
}


.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}
