.bg-green {
  background-color: #dff0d8 !important;
  --bs-table-bg: transparent;
}

.bg-red {
  background-color: #f2dede !important;
  --bs-table-bg: transparent;
}

.bg-grey {
  background-color: #DFDFDF !important;
  --bs-table-bg: transparent;
}

.bg-empty {
  background-color: #e9ecef !important;
  --bs-table-bg: transparent;
}

.form {
  display: block;
}

select.form-control {
  appearance: auto;
  -webkit-appearance: auto;
  display: block;
}